* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  /* width: 80%; */
  width: 1200px;
}

/*Navigation*/
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 50px 0px;
  border-bottom: 2px solid #4f5665;
}
.nav-container__link {
  color: #727272;
  font-weight: bold;
  transition: all 0.3s;
}
.nav-container__link:hover {
  color: #000000;
}

/*2nd block*/
.welcome {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.welcome-cont-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 50px;
}
.welcome-cont-info p {
  margin-bottom: 0px;
}
.welcome-cont-info__name {
  font-size: 47px;
  font-weight: bold;
}
.welcome-cont-info__role {
  transform: translateX(-100px);
  font-size: 18px;
}
.welcome-cont-info__lang {
  transform: rotate(270deg);
  margin-bottom: 20px !important;
  font-size: 16px;
  font-weight: bold;
}

.welcome-photo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.welcome-photo__img {
  /*height: 300px;*/
  width: 600px;
  height: 400px;
}

/*About me block*/
.about {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 50px 0px;
}
.about-block h2 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about-block p {
  text-align: center;
  margin-bottom: 30px;
}

/* Skills block */
.skills {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.skills-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.skills-box-title {
  margin-bottom: 60px;
}
.skills-box-title h2 {
  font-size: 34px;
  font-weight: bolder;
}
.skills-box-title p,
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.skills-box-cards {
  display: flex;
  justify-content: space-around;
}
.skills-box-cards-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.skills-box-cards-elem__img {
  height: 150px;
  margin-bottom: 20px;
  transition: all 0.3s;
  max-width: 232px;
}
.skills-box-cards-elem__img:hover {
  transform: translateY(-20px);
}

/* Portfolio */
.portfolio {
  background-color: #e6e6e6;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  margin-bottom: 50px;
}
.portfolio-title h2 {
  font-size: 34px;
  font-weight: bolder;
}

.portfolio-box-project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  visibility: visible;
  animation-duration: 1s;
}
.portfolio-box-project img {
  padding: 0px 20px;
}
.portfolio-box-project-info p {
  margin-bottom: 30px;
}

.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.two {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeLeft {
  -webkit-animation-name: fadeLeft;
  animation-name: fadeLeft;
}

@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeRight {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
}

/* Contacts */
.contacts {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.contacts-box h2 {
  font-size: 34px;
  font-weight: bolder;
}
.contacts-box p {
  color: rgb(177, 177, 177);
  margin-bottom: 20px;
}
.contacts-box-socials img{
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}